/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Circular Std', sans-serif;
}
html, body {
  padding-right: 0 !important;
  overflow-x: hidden;
}
section {
  padding: 40px 0;
  width: 100%;
}
section .section-wrapper {
  width: 88%;
  margin: 0 auto;
}
section .section-heading{
  margin-bottom: 40px;
}
section .section-heading h1 {
  font-size: 34px;
  font-weight: 400;
}
@media screen and (max-width: 1128px) {
  section {
    padding: 30px 0;
  }
  section .section-wrapper {
    width: 92.8%;
  }
  section .section-heading{
    margin-bottom: 20px;
  }
  section .section-heading h1 {
    font-size: 25px;
    font-weight: 500;
  }
}

/* Hero */
.hero {
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 20%, #000000 20%, #000000 100%);
}

.hero-1 {
  width: 100%;
  padding-top: 120px;
}
.hero-1 .hero-1-wrapper {
  background-color: #FF385C;
  color: #fff;
  width: 88%;
  border-radius: 10px;
  padding: 11% 0;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-1 .hero-1-wrapper h1 {
  font-size: 38px;
  font-weight: 500;
}
.hero-1 .hero-1-wrapper .a {
  background-color: transparent;
  text-decoration: none;
  border: 1px solid white;
  color: #fff;
  margin-top: 20px;
  border-radius: 8px;
  padding: 9px 16px;
  font-size: 15px;
  cursor: pointer;
}

.hero-2 {
  padding-top: 100px;
  width: 100%;
}
.hero-2 .hero-2-wrapper {
  width: 88%;
  margin: 0 auto;
  color: #fff;
}
.hero-2 .hero-2-wrapper .image-wrapper {
  width: 100%;
}
.hero-2 .hero-2-wrapper .image-wrapper img {
  width: 100%;
  border-radius: 10px;
}
.hero-2 .hero-2-wrapper .text-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  margin-top: -190px;
}
.hero-2 .hero-2-wrapper .text-wrapper h1 {
  font-size: 38px;
  font-weight: 500;
}
.hero-2 .hero-2-wrapper .text-wrapper .a {
  color: #8D0191;
  background-color: #fff;
  font-size: 19px;
  font-weight: 600;
  margin-top: 20px;
  text-decoration: none;
  padding: 17px 30px;
  border-radius: 30px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s ease;
}
.hero-2 .hero-2-wrapper .text-wrapper .a:hover {
  background-color: #f7f7f7;
}
.hero-2 .hero-2-wrapper .text-wrapper .a:focus {
  transform: scale(0.94);
}

@media screen and (max-width: 1128px) {
  .hero-1 .hero-1-wrapper {
    width: 92.8%;
  }
  .hero-1 .hero-1-wrapper h1 {
    font-size: 32px;
  }
  .hero-2 {
    padding-top: 60px;
  }
  .hero-2 .hero-2-wrapper {
    width: 92.8%;
  }
  .hero-2 .hero-2-wrapper .text-wrapper h1 {
    font-size: 32px;
  }
  .hero-2 .hero-2-wrapper .text-wrapper .a {
    font-size: 16px;
    padding: 15px 25px;
  }
}
@media screen and (max-width: 950px) {
  .hero-1 .hero-1-wrapper h1 {
    width: 450px;
    text-align: center;
  }
}
@media screen and (max-width: 743px) {
  .hero-1 {
    padding-top: 80px;
  }
  .hero-1 .hero-1-wrapper {
    padding: 200px 0;
  }
  .hero-1 .hero-1-wrapper h1 {
    width: 220px;
    font-size: 27px;
  }
  .hero-2 .hero-2-wrapper .image-wrapper {
    height: 120vh;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-2 .hero-2-wrapper .image-wrapper img {
    height: 100%;
    width: auto;
  }
  .hero-2 .hero-2-wrapper .text-wrapper h1 {
    text-align: center;
    width: 90%;
  }
}

/* Inspiration */
.inspiration {
  margin-top: 150px;
}
.inspiration-card {
  text-decoration: none;
  cursor: pointer;
}
.inspiration-card .image-wrapper img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.inspiration-card .text-wrapper {
  height: 30vh;
  margin-top: -5px;
  padding: 20px 17px;
  color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.inspiration-card .text-wrapper h2 {
  font-size: 28px;
}
.inspiration-card .text-wrapper h6 {
  font-size: 15px;
  margin-top: 7px;
  font-weight: 300;
}
@media screen and (max-width: 1128px) {
  .inspiration {
    margin-top: 110px;
  }
}
@media screen and (max-width: 950px) {
  .inspiration-card .text-wrapper h2 {
    font-size: 22px;
  }
  .inspiration-card .text-wrapper h6 {
    font-size: 14px;
  }
}

/* Discover */
.discover-card {
  position: relative;
  z-index: 0;
}
.discover-card .image-wrapper img {
  width: 100%;
  border-radius: 13px;
}
.discover-card .text-wrapper {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 2;
  color: #fff;
}
.discover-card .text-wrapper h1 {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 35px;
}
.discover-card .text-wrapper .a {
  padding: 15px 22px;
  border: none;
  outline: none;
  background-color: white;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  display: inline;
}
.discover-card .text-wrapper .a:hover {
  background-color: #f7f7f7;
} 

@media screen and (max-width: 1128px) {
  .discover-card .text-wrapper {
    top: 25px;
    left: 25px;
  }
  .discover-card .text-wrapper h1 {
    font-size: 34px;
    line-height: 36px;
  }
}

/* Hosting */
.hosting {
  position: relative;
}
.hosting-image img {
  width: 100%;
}
.hosting-text {
  position: absolute;
  top: 120px;
  left: 80px;
}
.hosting-text h1 {
  font-size: 74px;
  line-height: 74px;
  font-weight: 500;
  color: #fff;
}
.hosting-button {
  position: absolute;
  bottom: 140px;
  left: 80px;
}
.hosting-button .a {
  padding: 16px 27px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  border-radius: 7px;
  cursor: pointer;
}
.hosting-button .a:hover {
  background-color: #f7f7f7;
}

@media screen and (max-width: 1128px) {
  .hosting-text {
    position: absolute;
    top: 75px;
    left: 40px;
  }
  .hosting-text h1 {
    font-size: 50px;
    line-height: 50px;
  }
  .hosting-button {
    position: absolute;
    bottom: 95px;
    left: 40px;
  }
}
@media screen and (max-width: 743px) {
  .hosting-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .hosting-image img {
    width: auto;
    height: 700px;
  }
}